root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
max_line_length = 80

[*/go.{sum,mod}]
max_line_length = 140

[*.md]
max_line_length = 500

[*.tpl]
max_line_length = 200

[*.{yml,yaml}]
max_line_length = 400

[*.go]
indent_style = tab
indent_size = 8
max_line_length = 120

[Makefile]
indent_style = tab
indent_size = 4
max_line_length = 120

[src/api/*/types.go]
max_line_length = 400
